#infinite-instagram-header {
    background: #348f50;
    background: -moz-linear-gradient(45deg, #348f50 1%, #56b4d3 100%);
    background: -webkit-linear-gradient(45deg, #348f50 1%, #56b4d3 100%);
    background: linear-gradient(45deg, #348f50 1%, #56b4d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#348f50', endColorstr='#56b4d3', GradientType=1);
    width: 100%;
    height: 70px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#infinite-instagram-header img {
    float: left;
    margin-top: -25px;
}

#wrapper {
    width: 800px;
    overflow: hidden;
}

#uploadForm {
    width: 500px;
    float: left;
}

#imageForm {
    overflow: hidden;
}

.thumbnail {
    float: left;
    position: relative;
    width: 70px;
    margin-right: 10px;
}

.thumbnail img {
    width: 70px;
    height: 50px;
}

.thumbnail:hover img {
    position: absolute;
    top: -25px;
    left: -35px;
    width: 170px;
    height: 170px;
    display: block;
    z-index: 999;
}

.errorMessage td {
    display: none;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.successMessage td {
    display: none;
    border-radius: .25rem;
    background-color: #dff0d8;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-color: #d0e9c6;
    color: #3c763d;
}

.txtPostTime {
    width: 100%;
}

.caption {
    width: 100%;
}

.btnPlanPost {
    width: 100%;
}

.settings-left {
    float: left;
    margin-right: 50px;
}

.settings-right {
    float: left;
}

.settings-container {
    width: 800px;
}